<h2 class="nosupport white">Internet Explorer is not supported on this website. Sorry!😢 <br><h3 class="white">For a better browsing experience try one of these.</h3></h2>

<div class="browser-list">
<a href="https://www.microsoft.com/en-us/edge"><img class="browser" src="https://firebasestorage.googleapis.com/v0/b/portfolio-416e3.appspot.com/o/images%2F1584302830639_edge.png?alt=media&token=5fe534bb-498b-4beb-ae0a-ccaafa8be255"></a>
<a href="https://www.firefox.com"><img class="browser" src="https://firebasestorage.googleapis.com/v0/b/portfolio-416e3.appspot.com/o/images%2Ffirefox.png?alt=media&token=0793e78b-6e3a-4fc4-bf57-67e2fe402110"></a>
<a href="https://www.google.com/chrome/"><img class="browser" src="https://firebasestorage.googleapis.com/v0/b/portfolio-416e3.appspot.com/o/images%2Fchrome.png?alt=media&token=5bfdcbd3-5c1d-4a47-aa1b-5a8f20f2cbbf"></a>
<a href="https://brave.com/"><img class="browser" src="https://firebasestorage.googleapis.com/v0/b/portfolio-416e3.appspot.com/o/images%2Fbrave.jpg?alt=media&token=b00c1aa5-6766-4aa3-86d8-3b1aaf5757b6"></a>
</div>
